::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #cac4d0;
}

::ng-deep.mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #cac4d0;
}

::ng-deep.mat-form-field-appearance-outline.mat-focused.mat-form-field-outline-thick::placeholder {
  color: #cac4d0;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #f2b8b5;
}

::ng-deep.mat-checkbox-frame {
  border-color: #cac4d0;
}
